@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 1.5em;
}

body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white !important;
}

a:active {
  color: white !important;
}

.content_wrapper {
  max-width: 960px !important;
  margin: 0px auto;
}

.Nav {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid grey;
}

@media screen and (min-width: 639px) {
  .Nav {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 840px) {
  .Nav {
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
  }
}

.Nav .list_wrapper {
  position: relative;
  width: 100%;
}

.Nav .list_wrapper #list_wrap {
  position: absolute;
  top: 190%;
  right: 10px;
  width: 180px;
  border-radius: 5px;
  padding: 10px 0px;
  display: none;
  background-color: #242424;
}

@media screen and (min-width: 840px) {
  .Nav .list_wrapper #list_wrap {
    display: block !important;
    position: static !important;
    width: 100%;
    text-align: right;
    background-color: #000;
  }
  .Nav .list_wrapper #list_wrap > li {
    display: inline-block;
  }
}

.Nav .list_wrapper #list_wrap li,
.Nav .list_wrapper #list_wrap .dropdown {
  font-size: 1.2em;
  color: white;
  list-style: none;
  padding: 10px 10px;
  text-align: center;
}

.Nav .list_wrapper #list_wrap li:hover,
.Nav .list_wrapper #list_wrap .dropdown:hover {
  background-color: #111111 !important;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap li,
  .Nav .list_wrapper #list_wrap .dropdown {
    font-size: 1em;
  }
  .Nav .list_wrapper #list_wrap li:hover,
  .Nav .list_wrapper #list_wrap .dropdown:hover {
    background-color: #1d1d1d !important;
  }
}

.Nav .list_wrapper #list_wrap .dropdown {
  position: relative;
  padding: 0px 10px;
}

.Nav .list_wrapper #list_wrap .dropdown li {
  font-size: .8em !important;
}

.Nav .list_wrapper #list_wrap .dropdown li:hover {
  background-color: #1a1a1a !important;
}

.Nav .list_wrapper #list_wrap .dropdown > span {
  display: inline-block;
  padding: 10px;
}

.Nav .list_wrapper #list_wrap .dropdown > ul {
  display: none;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .dropdown > ul {
    position: absolute;
    left: 0px;
    background-color: #111111;
    width: 100%;
    padding: 0px 0px;
  }
}

.Nav .list_wrapper #list_wrap .dropdown .drop_select {
  background-color: #1a1a1a;
}

.Nav .list_wrapper #list_wrap .active {
  background-color: #111111;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .active {
    background-color: #1d1d1d;
    border-radius: 5px;
  }
}

.Nav .list_wrapper #list_wrap .active_drop {
  background-color: #1a1a1a !important;
  border-radius: 5px;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .active_drop {
    font-size: 1em;
    background-color: #1d1d1d !important;
  }
}

.Nav .home_icon {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 840px) {
  .Nav .home_icon {
    display: none !important;
  }
}

.Nav .ymca_logo {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
  max-width: 80px;
}

@media screen and (min-width: 840px) {
  .Nav .ymca_logo {
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media screen and (min-width: 840px) {
  .Nav .ymca_logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (min-width: 840px) {
  .Nav .menu_botton {
    display: none !important;
  }
}

.Nav .menu_icon {
  text-align: right;
}

.Nav .menu_icon > * {
  width: 23px;
}

.Banner {
  background: url("../Assets/img/pile-of-covered-books-159751.jpg");
  background-size: cover;
  color: white;
}

.Banner .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25% 15px;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Banner .overlay > * {
  margin: 4px 0px;
}

.Banner .overlay h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 639px) {
  .Banner .overlay h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 639px) {
  .Banner .overlay p {
    font-size: 1.6rem;
  }
}

.Banner .overlay button {
  width: 120px;
  height: 45px;
  background-color: #F20707;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
}

.Banner .overlay button:hover {
  background-color: #a50a0a;
}

@media screen and (min-width: 639px) {
  .Banner .overlay button {
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 720px) {
  .Banner .overlay {
    padding: 12.5% 15px !important;
  }
}

.read_more {
  z-index: 99999;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.read_more_wrapper {
  width: 80%;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  border-radius: 10px;
  padding: 30px;
  max-height: 80%;
  overflow-y: scroll;
}

.read_more_wrapper::-webkit-scrollbar {
  display: none !important;
}

.top_read {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_read > i {
  font-size: 25px;
  cursor: pointer;
}

.read_content {
  padding: 15px;
  text-align: center;
}

ph {
  color: red;
  font-size: 18px;
}

.end {
  background-color: #2D2D2D;
  color: white;
  text-align: center;
  padding: 15px;
}

.end span h3 {
  font-weight: 600;
  color: #8f8f8f;
}

.end span ul {
  padding: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end span ul li {
  list-style: none;
  display: inline;
  padding: 5px 10px;
  background-color: #444;
  border-radius: 5px;
  margin: 5px 5px;
}

.end span ul li:hover {
  background-color: black;
}

/* Same Exact Styling For Each File Ends Here ! */
.contact_form {
  padding: 15px;
  text-align: center;
}

.contact_form .contact_form_wrapper {
  border-radius: 10px;
  max-width: 960px;
  margin: 0px auto;
  margin-bottom: 25px;
}

.contact_form h2 {
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  border-bottom: 5px solid #444;
}

.contact_form form {
  background-color: #444;
  border-radius: 10px;
  padding: 30px 0px;
  color: white;
}

.contact_form form label {
  margin: 5px;
}

.contact_form #full_name, .contact_form #email, .contact_form #phone {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 5px 0px;
  outline: none;
  margin-bottom: 15px;
}

@media screen and (min-width: 720px) {
  .contact_form #full_name, .contact_form #email, .contact_form #phone {
    width: 60%;
  }
}

.contact_form #mess_con {
  width: 80%;
  border-radius: 10px;
  border: none;
  text-align: center;
  resize: none;
  padding: 5px;
  font-size: 16px;
  max-height: 200px;
  outline: none;
  margin-top: 5px;
}

@media screen and (min-width: 720px) {
  .contact_form #mess_con {
    width: 60%;
  }
}

.contact_form #submit, .contact_form #reset {
  width: 120px;
  height: 40px;
  margin: 15px;
  border-radius: 10px;
  border: none;
  background-color: #F20707;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contact_form #submit:hover, .contact_form #reset:hover {
  background-color: #a50a0a;
}

.contact_form p {
  padding: 15px 60px;
}

@media screen and (max-width: 720px) {
  .contact_form p {
    padding: 15px 15px !important;
  }
}

.message {
  background-color: #e60000;
  font-family: "montserrat";
}
