@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600,700,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white !important;
}

a:active {
  color: white !important;
}

.content_wrapper {
  max-width: 960px !important;
  margin: 0px auto;
}

.Nav {
  background-color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid grey;
}

@media screen and (min-width: 639px) {
  .Nav {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 840px) {
  .Nav {
    -ms-grid-columns: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr 2fr;
  }
}

.Nav .list_wrapper {
  position: relative;
  width: 100%;
}

.Nav .list_wrapper #list_wrap {
  position: absolute;
  top: 190%;
  right: 10px;
  width: 180px;
  border-radius: 5px;
  padding: 10px 0px;
  display: none;
  background-color: #242424;
}

@media screen and (min-width: 840px) {
  .Nav .list_wrapper #list_wrap {
    display: block !important;
    position: static !important;
    width: 100%;
    text-align: right;
    background-color: #000;
  }
  .Nav .list_wrapper #list_wrap > li {
    display: inline-block;
  }
}

.Nav .list_wrapper #list_wrap li,
.Nav .list_wrapper #list_wrap .dropdown {
  font-size: 1.2em;
  color: white;
  list-style: none;
  padding: 10px 10px;
  text-align: center;
}

.Nav .list_wrapper #list_wrap li:hover,
.Nav .list_wrapper #list_wrap .dropdown:hover {
  background-color: #111111 !important;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap li,
  .Nav .list_wrapper #list_wrap .dropdown {
    font-size: 1em;
  }
  .Nav .list_wrapper #list_wrap li:hover,
  .Nav .list_wrapper #list_wrap .dropdown:hover {
    background-color: #1d1d1d !important;
  }
}

.Nav .list_wrapper #list_wrap .dropdown {
  position: relative;
  padding: 0px 10px;
}

.Nav .list_wrapper #list_wrap .dropdown li {
  font-size: 0.8em !important;
}

.Nav .list_wrapper #list_wrap .dropdown li:hover {
  background-color: #1a1a1a !important;
}

.Nav .list_wrapper #list_wrap .dropdown > span {
  display: inline-block;
  padding: 10px;
}

.Nav .list_wrapper #list_wrap .dropdown > ul {
  display: none;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .dropdown > ul {
    position: absolute;
    left: 0px;
    background-color: #111111;
    width: 100%;
    padding: 0px 0px;
  }
}

.Nav .list_wrapper #list_wrap .dropdown .drop_select {
  background-color: #1a1a1a;
}

.Nav .list_wrapper #list_wrap .active {
  background-color: #111111;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .active {
    background-color: #1d1d1d;
    border-radius: 5px;
  }
}

.Nav .list_wrapper #list_wrap .active_drop {
  background-color: #1a1a1a !important;
  border-radius: 5px;
}

@media screen and (min-width: 720px) {
  .Nav .list_wrapper #list_wrap .active_drop {
    font-size: 1em;
    background-color: #1d1d1d !important;
  }
}

.Nav .home_icon {
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 840px) {
  .Nav .home_icon {
    display: none !important;
  }
}

.Nav .ymca_logo {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 50%;
  max-width: 80px;
}

@media screen and (min-width: 840px) {
  .Nav .ymca_logo {
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media screen and (min-width: 840px) {
  .Nav .ymca_logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (min-width: 840px) {
  .Nav .menu_botton {
    display: none !important;
  }
}

.Nav .menu_icon {
  text-align: right;
}

.Nav .menu_icon > * {
  width: 23px;
}

.Banner {
  background: url("../Assets/img/pile-of-covered-books-159751.jpg");
  background-size: cover;
  color: white;
}

.Banner .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25% 15px;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.Banner .overlay > * {
  margin: 4px 0px;
}

.Banner .overlay h2 {
  font-size: 2.2rem;
}

@media screen and (min-width: 639px) {
  .Banner .overlay h2 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 639px) {
  .Banner .overlay p {
    font-size: 1.6rem;
  }
}

.Banner .overlay button {
  width: 120px;
  height: 45px;
  background-color: #f20707;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
}

.Banner .overlay button:hover {
  background-color: #a50a0a;
}

@media screen and (min-width: 639px) {
  .Banner .overlay button {
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 720px) {
  .Banner .overlay {
    padding: 12.5% 15px !important;
  }
}

.read_more {
  z-index: 99999;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0px;
  width: 100%;
}

.read_more_wrapper {
  width: 80%;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
  border-radius: 10px;
  padding: 30px;
  max-height: 80%;
  overflow-y: scroll;
}

.read_more_wrapper::-webkit-scrollbar {
  display: none !important;
}

.top_read {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_read > i {
  font-size: 25px;
  cursor: pointer;
}

.read_content {
  padding: 15px;
  text-align: center;
}

ph {
  color: red;
  font-size: 18px;
}

.end {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  padding: 15px;
}

.end span h3 {
  font-weight: 600;
  color: #8f8f8f;
}

.end span ul {
  padding: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end span ul li {
  list-style: none;
  display: inline;
  padding: 5px 10px;
  background-color: #444;
  border-radius: 5px;
  margin: 5px 5px;
}

.end span ul li:hover {
  background-color: black;
}

/* Same Exact Styling For Each File Ends Here ! */
.courses {
  padding: 15px;
  background: url("../Assets/courses/svg/Path 1.svg"), url("../Assets/svg/Text.svg"), #fcfcfc;
  background-repeat: no-repeat;
  background-position: -200px -150px, 0px 80%;
  background-size: auto, auto 20%;
}

@media screen and (min-width: 720px) {
  .courses {
    background-size: auto, auto 50%;
  }
}

.courses .content_wrapper {
  max-width: 960px;
}

.courses .content_wrapper h2 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto;
  font-weight: 600;
  border-bottom: 5px solid #444;
  margin-bottom: 10px;
}

.courses .content_wrapper .course_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

.courses .content_wrapper .Course {
  background: url("../Assets/courses/svg/Group 4.svg");
  background-position: 100% 0px;
  background-size: auto 110%;
  background-repeat: no-repeat;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "heading heading" "price price" "c_c c_c";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90%;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 720px) {
  .courses .content_wrapper .Course {
    width: 45%;
  }
}

.courses .content_wrapper .Course h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  font-weight: normal;
}

.courses .content_wrapper .Course span {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: price;
  color: red;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 18px;
  margin-bottom: 15px;
}

.courses .content_wrapper .Course span:before {
  content: "₹";
}

.courses .content_wrapper .Course p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: c_c;
  padding: 15px 15px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
}

@media screen and (min-width: 720px) {
  .courses .content_wrapper .Course:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.pagination {
  padding: 25px 0px;
  color: #444 !important;
  text-align: center;
}

.pagination span {
  display: inline-block;
  background-color: #f20707;
  width: 35px;
  padding: 5px 0px;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.pagination span:hover {
  background-color: #a50a0a;
}

.pagination a {
  font-size: 20px;
}
